
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.wrapper {
    width: 1000px;
    margin: auto;
    position: relative;
    float: left;
}

.logo a {
    font-size: 30px;
    font-weight: 600;
    float: center;
    font-family: courier;
    color: #088395;
}

.menu {
    float: center;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolo .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color:#088395;
}

h2 {
    font-family: 'comic sans ms';
    font-weight:800;
    font-size: 45px;
    margin-bottom: 10px;
    color:#088395;
    width: 100%;
    line-height:50px;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

main {
    padding: 20px;
    text-align: Center;
    float: Center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

img {
    max-width: 100%;
    height: auto;
}
